{% extends "auctions/layout.html" %}

{% block body %}
    <h2 class="" style="color: white; justify-content: left; margin-left: 20px; font-size: 4rem;">Create Post</h2>
    <br>

    <style>
        form {
          width: 400px;
          justify-content: center;
          margin-left: 300px;
          color: white;
        }

        a:hover {
            background-color: #ccc;
            color: #fff;
            .category:hover {
            background-color: #ccc;
            color: #fff;
            text-decoration: none;
            text-decoration-line: none;

        }

        a{
          color: lightblue;
          text-decoration: none;
          text-decoration-line: none;
        }





    </style>


  <form method="post" action="{% url 'create_listing' %}" >
        {% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        <input type="submit" value="Create Listing" />
  </form>
{% endblock %}
