{% extends "auctions/layout.html" %}

{% block body %}
    <h2 class="" style="color: white; justify-content: left; margin-left: 20px; font-size: 4rem;">Create Listing</h2>
    <br>

    <style>
        form {
          width: 400px;
          margin: 0 auto;
          color: white;
        }






    </style>


  <form method="post" action="{% url 'create_listing' %}">
        {% csrf_token %}
        {{ form.as_p }}
        
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        <input type="submit" value="Create Listing" />
  </form>
{% endblock %}
