{% extends "auctions/layout.html" %}

{% block body %}
<style media="screen">

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.text-center {
        text-align: center;
        font-size: 1.5rem;
        font-weight: bold;
        color: white;
}

.card {
    width: 10rem;
    height: 25rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    background-color: black;
    margin-bottom: 35px;
}

.card-img-top {
    width: 100%;
    height: auto;
}

.card-body {
    padding: 10px;
}

.card:hover{
    transform: scale(1.12);
    background-color: red;
}

.card:hover{
    transform: scale(1.12);
    background-color: blue;
}

.card:hover{
    transform: scale(1.12);
}



.card:hover{
    transform: scale(1.12);
    background-color: var(--random-color);
}

:root {
    --random-color: red;

    --random-color: ${['red', 'blue', 'yellow', 'green'][Math.floor(Math.random() * 4)]};
}

.card-title {
    font-family: 'Courier New', monospace;
    font-size: 1.0rem;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 23px;     /* fallback */
    max-height: 32px;      /* fallback */
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
}


.card-text {
    font-size: 1.2rem;
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 16px;     /* fallback */
    max-height: 32px;      /* fallback */
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.btn {
    background-color: #0099ff;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}
h2.text-center {
        font-size: 2rem;
        font-weight: bold;
        color: white;
        margin-bottom: 1rem;
    }

select {
        width: 100%;
        padding: 0.5rem;
        font-size: 1.2rem;
        border-radius: 0.25rem;
        border: 1px solid #ced4da;
        margin-bottom: 1rem;
    }

    input[type="submit"][name="listing"] {
        background-color: skyblue;
        border: none;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }

    input[type="submit"][name="listing"]:hover{
        background-color: blue;

    }






</style>

{%csrf_token%}


<h2 class="text-center" style="color: white;">All Active Listings</h2>
<br>
<div class="row mx-5" >
{%for listing in listings %}
<div class="card mx-3" >

  <form class="listing" action="{% url 'listing' listing.id %}" method="get">
    <div class="card-body" style="text-align: center; position: relative;">
      {%csrf_token%}
      <img class= "card-img-top" src="{{listing.imageUrl}}" alt="imageurl" style="width:130px; height:175px; border-radius: 10px; margin: 0 auto;">
      <h5 class="card-title" style="font-weight:bold; color:white; font-size:">{{listing.title}}</h5>
      <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#description_{{listing.id}}" style="width: 50px; height: 40px;">
        <span class="collapse-icon"><h3>˯</h3></span>
      </button>

      <div id="description_{{listing.id}}" class="collapse" style="margin-top: -19px;">
        <br>
        <p class="card-text" style="font-size:0.8rem;color:white; font-weight: bold; ">{{listing.description}}</p>
        <p class="card-text" style="font-size:1.0rem; color:lime;">${{listing.startingBid}}</p>
        <input type="submit" name="listing" style="border-radius:2em;" value="view">
      </div>
    </div>
  </form>

</div>
{% endfor %}
</div>





{% endblock %}
