{% extends "auctions/layout.html" %}

{% block body %}
<style media="screen">

  body{
    background: linear-gradient(to left, #111111, #333333, #444444, #555555, #666666, #777777);
  }

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.text-center {
        text-align: center;
        font-size: 1.5rem;
        font-weight: bold;
        color: white;
}

.card {

    border-width: 7px;
    width: 17rem;
    height: 21rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    background-color: black;
    margin-bottom: 35px;
}

.card-img-top {
    width: 100%;
    height: auto;
}

.card-body {
    margin-top: 10px;
    padding: 10px;
}

.card:hover{
    transform: scale(1.12);
    background-color: red;
}

.card:hover{
    transform: scale(1.12);
    background-color: blue;
}

.card:hover{
    transform: scale(1.12);
}



.card:hover{
    transform: scale(1.12);
    background-color: var(--random-color);
}

:root {
    --random-color: red;

    --random-color: ${['red', 'blue', 'yellow', 'green'][Math.floor(Math.random() * 4)]};
}

.card-title {

    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 23px;     /* fallback */
    max-height: 32px;      /* fallback */
    -webkit-line-clamp: 1; /* number of lines to show */
    -webkit-box-orient: vertical;
    font-weight:bold;
    color:white;
}

.card-title:hover{
    color:pink;
}


.card-text {
    font-size: 1.2rem;
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 16px;     /* fallback */
    max-height: 32px;      /* fallback */
    -webkit-line-clamp: 1; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.btn {
    background-color: black;
    color: #fff;
    padding: 0px 10px;
    border-radius: 10px;
}


.btn:hover {
    background-color: grey;
    color: #fff;
    padding: 0px 10px;
    border-radius: 10px;
}

h2.text-center {
        font-size: 2rem;
        font-weight: bold;
        color: white;
        margin-bottom: 1rem;
    }

select {
        width: 100%;
        padding: 0.5rem;
        font-size: 1.2rem;
        border-radius: 0.25rem;
        border: 1px solid #ced4da;
        margin-bottom: 1rem;
    }

    input[type="submit"][name="listing"] {
        background-color: grey;
        border: none;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }




    a{
      color: lightblue;
      text-decoration: none;
      text-decoration-line: none;
    }

    a:hover{
      color: blue;
      text-decoration: none;
      text-decoration-line: none;

    }






</style>

{%csrf_token%}
<br>
{% if not user.is_authenticated %}
<h4 style="color:white; font-family: 'Courier New', monospace; font-size: 1rem;">AuctionBox is an online social market site where users can auction/sell as well as
   advertise books, products and services.
   Through carefully curated listings, and a safe center for buyer/seller interactions, we aim to enhance the advent of trade through social technology. You have the option to
   either set a listing for auction or final sale. Advertisement functionalities are also included.
   See <a href="{%url 'about'%}" style="color: pink;">more</a>
</h4>
{%endif%}


{% if messages %}
  {% for message in messages %}
  <div class="alert alert-success" role="alert">{{ message }}</div>
  {% endfor %}
{% endif %}

<h2 class="" style="color: white; justify-content: left; margin-left: 20px; font-size: 4rem;">Discover Users</h2><br>



<div class="row mx-7" >
{%for user in all_users %}

<div class="card mx-3" style = "background-color: transparent;">

  <form class="listing" action="{% url 'sellers' %}" method="get">
    <div class="card-body" style="text-align: center; position: relative; ">
      {%csrf_token%}
      <img class="" src="https://img.freepik.com/free-photo/close-up-shot-beautiful-young-african-american-woman-with-natural-curly-hair-smiles-broadly-has-positive-look-being-good-mood-wears-orange-jumper-isolated-blue-wall_273609-49810.jpg?w=2000" alt="imageurl" style="width:215px;  height:165px; border-radius: 15px; margin: 0 auto;">
      <h5 class="card-title" style="font-weight:bold; color:white; margin-bottom: 13px;">{{user.username}}</h5>
      <input type="submit" name="listing" style="border-radius:2em;" value="view">
    </div>
  </form>

</div>

{% endfor %}
</div>


{% endblock %}
